<form (submit)="post()">
  <div class="form-row">
    <div class="col col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Nom de l'étudiant</mat-label>
        <input matInput placeholder="Insérer le nom ici...">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
    <div class="col col-12 col-md-6">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Prénom de l'étudiant</mat-label>
        <input matInput placeholder="Insérer le Prénom ici...">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Email</mat-label>
    <input matInput placeholder="Insérer l'email ici...">
    <mat-icon matSuffix>alternate_email</mat-icon>
  </mat-form-field>
  <div class="form-row">
    <div class="col col-12 col-md-8">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Formation de l'étudiant</mat-label>
        <input matInput placeholder="Insérer la formation en cours de l'étudiant ici...">
        <mat-icon matSuffix>grade</mat-icon>
      </mat-form-field>
    </div>

    <div class="col col-12 col-md-4">
      <mat-form-field appearance="outline" class="w-100">
        <mat-label>Date de naissance de l'étudiant</mat-label>
        <input matInput [matDatepicker]="myDatepicker" placeholder="Cliquer sur l'icône pour insérer une date">
        <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #myDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="text-right"><button mat-raised-button color="primary">CRÉER</button></div>
</form>