.example-container {
    display: flex;
    flex-direction: column;
}

.mat-table {
    overflow: auto;
}

.mobile-label {
    display: none;
}

@media(max-width: 500px) {
    .mobile-label {
        width: 150px;
        display: inline-block;
        font-weight: bold;
    }

    .mat-cell {
        padding-left: 0 !important;
        display: inline-block;
        width: 100%;
        border: none;
        margin: 5px;
    }

    .mat-header-row {
        display: none;
    }

    .mat-row {
        margin-top: 5px;
        flex-direction: column;
        align-items: start;
        padding: 8px 24px;
    }
}
