<app-navigation>
    <mat-tab-group (selectedTabChange)="onLinkClick($event)">
      <mat-tab label="Mes étudiants" id="test" (click)="getStudents()">
        <div class="container">
          <mat-card class="mt-md-3 mt-1">
            <h5>Espace de gestion des étudiants <br><small class="text-muted">Cliquez sur un étudiant pour modifier ses informations ou rechercher un étudiant ici.</small></h5>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Rechercher un étudiant</mat-label>
              <input matInput placeholder="Rechercher par Nom, Prénom, Formation ou Email de l'étudiant" #searchInput (keyup)="search(searchInput.value)">
              <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
          </mat-card>
          <mat-card class="mat-elevation-z4 mt-md-3 mt-1 p-0">
            <app-students-table [students]="students"></app-students-table>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Créer un étudiant"  class="container">

        <div class="container">
          <mat-card class="mt-md-3 mt-1">
            <h5>Espace de création d'un nouvel étudiant <br><small class="text-muted">Veuillez remplir le formulaire ci-dessous</small></h5>
          </mat-card>
          <mat-card class="mt-md-3 mt-1">
            <app-form-student [post]="true"></app-form-student>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Statistiques"  class="container">
        <div class="container">
          <mat-card class="mt-md-3 mt-1">
            <h5>Statistiques<br><small class="text-muted"></small></h5>
          </mat-card>
          <div class="row">
            <div class="col-12 col-lg-6">
              <mat-card class="mt-md-3 mt-1" style="height: 450px">
                <app-statistics></app-statistics>
              </mat-card>
            </div>
            <div class="col-12 col-lg-6">
              <mat-card class="mt-md-3 mt-1" style="height: 450px">
                <app-statistic-age></app-statistic-age>
              </mat-card>
            </div>
          </div>

        </div>
      </mat-tab>
    </mat-tab-group>
</app-navigation>
